<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" href="/views/public/assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="assets/img/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Get Shit Done Bootstrap Wizard by Creative Tim</title>

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />

		<!--     Fonts and icons     -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

		<!-- CSS Files -->
		<link href="/views/public/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/views/public/assets/css/gsdk-bootstrap-wizard.css" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="/views/public/css/sweetalert.css">
		<script src="/views/public/js/sweetalert.js"></script>

		<!-- CSS Just for demo purpose, don't include it in your project -->
		<link href="/views/public/assets/css/demo.css" rel="stylesheet" />
	</head>

	<body>
		<div class="image-container set-full-height" style="background-image: url('assets/img/wizard.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="wizard-container">
							<div class="card wizard-card" data-color="orange" id="wizardProfile">
								<form action="" method="" id="customer_info_form">
								
									<div class="wizard-navigation">
										<ul>
											<li><a href="#about" data-toggle="tab">Personal Information</a></li>
											<li><a href="#account" data-toggle="tab">Address Information</a></li>
											<li><a href="#address" data-toggle="tab">Payment Infomation</a></li>
											<li><a href="#confirmation" data-toggle="tab">Confirmation</a></li>
										</ul>
									</div>

									<div class="tab-content">
										<div class="tab-pane" id="about">
											<div class="row">
												<h4 class="info-text"></h4>
												<div class="col-sm-10 col-sm-offset-1">
													<div class="form-group">
														<label>First Name <small>(required)</small></label>
														<input name="first_name" type="text" class="form-control first_name" placeholder="Emeka">
													</div>
												</div>
											
												<div class="col-sm-10 col-sm-offset-1">
													<div class="form-group">
														<label>Last Name <small>(required)</small></label>
														<input name="last_name" type="text" class="form-control last_name" placeholder="Osuagwu">
													</div>
												</div>
														
												<div class="col-sm-10 col-sm-offset-1">
													<div class="form-group">
														<label>Telphone Number <small>(required)</small></label>
														<input name="phone_number" type="tel" class="form-control phone_number" placeholder="+2349095685594">
													</div>
												</div>
											</div>
										</div>

										<div class="tab-pane" id="account">
											<h4 class="info-text"></h4>
											<div class="row">
												<div class="col-sm-7 col-sm-offset-1">
													<div class="form-group">
														<label>Address</label>
														<input name="address" type="text" class="form-control address" placeholder="5h Avenue">
													</div>
												</div>
											
												<div class="col-sm-3">
													<div class="form-group">
														<label>House Number</label>
														<input name="house_number" type="text" class="form-control house_number" placeholder="242">
													</div>
												</div>

												<div class="col-sm-6 col-sm-offset-1">
													<div class="form-group">
														<label>Zip Code</label>
														<input name="zip_code" type="text" class="form-control zip_code" placeholder="5h Avenue">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>City</label>
														<input name="city" type="text" class="form-control city" placeholder="242">
													</div>
												</div>
											</div>
										</div>

										<div class="tab-pane" id="address">
											<div class="row">
												<div class="col-sm-12">
													<h4 class="info-text"> </h4>
												</div>
												<div class="col-sm-5 col-sm-offset-1">
													<div class="form-group">
														<label>Account Owner</label>
														<input name="account_owner" type="text" class="form-control account_owner" placeholder="Emeka Osuagwu">
													</div>
												</div>
												<div class="col-sm-5">
													<div class="form-group">
														<label>IBAN</label>
														<input name="iban" type="text" class="form-control iban" placeholder="AAXXXXX">
													</div>
												</div>
											</div>
										</div>

										<div class="tab-pane" id="confirmation">
											<div class="row">
												<div class="col-sm-12">
													<h4 class="info-text">  </h4>
												</div>
												<div class="col-sm-10 col-sm-offset-1">

													<div class="form-group resultAlert">
														<div class="panel-body"><div id="" class="alert alert-success" role="alert"><h4 id="" class="alert-heading resultAlertHeading">Great! You have been registered.</h4><p class="resultAlertMsg" id="" style="word-break: break-all;"></p><br></div><br><div align="center"><button type="button" name="btnResultInfo" id="btnResult" class="btn btn-success btn-lg" data-dismiss="modal">Close</button></div></div>
													</div>
													
													<div class="form-group loadingAlert">
														<div class="panel-body">
															<div id="" class="alert alert-success" role="alert">
																<h4 id="" class="alert-heading"></h4>
																<p id="" style="word-break: break-all;">loading.....</p>
															</div>
														</div>
													</div>

													
													<div class="form-group errorAlert" >
														<div class="panel-body">
															<div  class="alert alert-danger" role="alert">
																<h4 id="" class="alert-heading"></h4>
																<p id="error_message" style="word-break: break-all;"></p>
															</div>
														</div>
													</div>


												</div>
											</div>
										</div>
									</div>

									<div class="wizard-footer height-wizard">
										<div class="pull-right">
											<input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm next_button' name='next' value='Next' />
											<input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm finish_button' name='finish' value='Finish' />
										</div>

										<div class="pull-left">
											<input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm previous_button' name='previous' value='Previous' />
										</div>
										<div class="clearfix"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<!--   Core JS Files   -->
	<script src="/views/public/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/views/public/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/views/public/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="/views/public/assets/js/gsdk-bootstrap-wizard.js"></script>
	<script src="/views/public/js/app.js "></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="/views/public/assets/js/jquery.validate.min.js"></script>
</html>
